@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
/* body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(bg_old.jpg) no-repeat;
  background-size: cover;
} */
.login-box {
    width: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(80, 80, 80);
}
.login-box h1 {
    float: left;
    font-size: 80px;
    margin-bottom: 10px;
    padding: 0px;
}
.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
}
.textbox input {
    border: 1px solid rgb(80, 80, 80);
    outline: none;
    background: none;
    color: white;
    padding: 7px;
    font-size: 18px;
    width: 90%;
    float: left;
}
.btn {
    width: 95.5%;
    background: none;
    border: 1px solid rgb(80, 80, 80);
    color: rgb(80, 80, 80);
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}